<div class="login-page">
    <div class="row">
        <div class="col-md-4 push-md-4">
            <img src="assets/images/logo.png" width="150px"/>
            <h1>Mappache Login</h1>
            <form role="form" (submit)="doLogin()">
                <div class="form-content">
                    <div class="form-group">
                        <input type="text" [(ngModel)]="formEmail" name="formEmail" class="form-control input-underline input-lg" id="" placeholder="Correo Electronico">
                    </div>

                    <div class="form-group">
                        <input type="password" [(ngModel)]="formPassword" name="formPassword" class="form-control input-underline input-lg" id="" placeholder="Contraseña">
                    </div>
                </div>
                <input type="submit" class="btn rounded-btn" value="Conectarse">
                <!--a class="btn rounded-btn" [routerLink]="['/dashboard']"> Conectarse </a-->
                &nbsp;
                <a class="btn rounded-btn" [routerLink]="['/signup']">Registrarse</a>
            </form>
        </div>
    </div>
</div>
