<h2 class="text-muted">Actualmente estas ubicado en este lugar: </h2>
<div class="row">
    <div class="col-md-12">
      <sebm-google-map
      [latitude]="lat"
      [longitude]="lng"
      [zoom]="zoom"
      [disableDefaultUI]="false"
      [zoomControl]="true"
      (mapClick)="mapClicked($event)"
      >
        <sebm-google-map-marker
        *ngFor="let m of markers; let i = index"
        (markerClick)="clickedMarker(m, i)"
        [latitude]="m.lat"
        [longitude]="m.lng"
        [markerDraggable]=m.draggable
        (dragEnd)="markerDragEnd(m, $event)">
        <sebm-google-map-info-window>
          <strong>Latitud: {{m.lat}}, </strong>
          <strong> Longitud: {{m.lng}}</strong>
        </sebm-google-map-info-window>
      </sebm-google-map-marker>
      </sebm-google-map>
    </div>
</div>
<hr>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Agrega un marcador: </h3>
  </div>
  <div class="panel-body">
    <form (submit)="addMarker()">
      <label>Nombre del Lugar</label>
      <input type="text" [(ngModel)]="markerName" name="markerName">

      <label>Latitud</label>
      <input type="text" [(ngModel)]="markerLat" name="markerLat">

      <label>Longitud</label>
      <input type="text" [(ngModel)]="markerLng" name="markerLng">

      <label>Arrastrable</label>
      <select [(ngModel)]= "markerDraggable" name="markerDraggable">
        <option value="no">No</option>
        <option value="yes">Si</option>
      </select>
      <input type="submit" class="btn btn-default" value="Map it!">
    </form>
  </div>
</div>
<hr>
<div class="row">
    <div class="col-xl-4 col-lg-6">
        <app-stat [bgClass]="'card-primary'" [icon]="'fa-address-book-o'" [count]="" [label]="'Lugares de Tus amigos!'" ></app-stat>
    </div>
    <div class="col-xl-4 col-lg-6">
        <app-stat [bgClass]="'card-info'" [icon]="'fa-arrows'" [count]="" [label]="'Tus nuevos lugares!'" ></app-stat>
    </div>
    <div class="col-xl-4 col-lg-6">
        <app-stat [bgClass]="'card-success'" [icon]="'fa-heart-o'" [count]="" [label]="'Lugares Recomendados!'" ></app-stat>
    </div>
</div>
<hr>

<!--- ACA EMPIEZA LA CAJA DE COMENTARIOS-->
<div class="col-md-12">
    <div class="panel panel-white post panel-shadow">
        <div class="post-heading">
            <div class="pull-left image">
                <img src="assets/images/avatar.png" class="img-circle avatar" alt="user profile image">
            </div>
            <div class="pull-left meta">
                <div class="title h5">
                    <a href="#"><b>Usuario Mappache</b></a>
                </div>
            </div>
        </div>
        <div class="post-description">
          <form>
           <div class="form-group">
             <label for="comment">Haz un Comentario</label>
             <textarea name="comment" class="form-control" rows="3"></textarea>
           </div>
           <button type="submit" class="btn btn-default">Comentar</button>
         </form>
        </div>
    </div>
</div>
<!--- ACA TERMINA LA CAJA DE COMENTARIOS-->
<hr>
<!--- ACA EMPIEZAN LOS COMENTARIOS-->
<div class="col-md-12">
    <div class="panel panel-white post panel-shadow">
        <div class="post-heading">
            <div class="pull-left image">
                <img src="assets/images/avatar.png" class="img-circle avatar" alt="user profile image">
            </div>
            <div class="pull-left meta">
                <div class="title h5">
                    <a href="#"><b>Usuario Mappache</b></a>
                    hizo un comentario
                </div>
                <h6 class="text-muted time">hace 1 minuto</h6>
            </div>
        </div>
        <div class="post-description">
            <p>Este es un comentario Mappache!!!</p>
            <div class="stats">
                <a href="#" class="btn btn-default stat-item">
                    <i class="fa fa-thumbs-up icon"></i>2
                </a>
                <a href="#" class="btn btn-default stat-item">
                    <i class="fa fa-thumbs-down icon"></i>12
                </a>
            </div>
        </div>
    </div>
</div>

<hr>

<div class="col-md-12">
    <div class="panel panel-white post panel-shadow">
        <div class="post-heading">
            <div class="pull-left image">
                <img src="assets/images/avatar.png" class="img-circle avatar" alt="user profile image">
            </div>
            <div class="pull-left meta">
                <div class="title h5">
                    <a href="#"><b>Usuario Mappache</b></a>
                    hizo un comentario.
                </div>
                <h6 class="text-muted time">hace 1 minuto</h6>
            </div>
        </div>
        <div class="post-description">
            <p>Este es un comentario Mappache!!!</p>
            <div class="stats">
                <a href="#" class="btn btn-default stat-item">
                    <i class="fa fa-thumbs-up icon"></i>2
                </a>
                <a href="#" class="btn btn-default stat-item">
                    <i class="fa fa-thumbs-down icon"></i>12
                </a>
            </div>
        </div>
    </div>
</div>
<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">


<!--- ACA TERMINAN LOS COMENTARIOS-->
